@import "../_variables.scss";  
img{
    float: left;
    padding-right: 5em;
    padding-left: 2em;
}

.ui-autocomplete{
    background: white !important;
}
.ui-autocomplete:hover{
    cursor: pointer;
}

.ui-menu-item:hover{
    background: lightblue;
}

.ui-helper-hidden-accessible {
    display:none; 
}