@import "../_variables.scss";  

#searchfield{
    border-width: 1px 0 1px 1px;
    border-radius: .33333em 0 0 .33333em;
    border-color:#c3c1bc;

    height: 2.80em;
    width: 250px;

    margin-right: -3px;
    padding: 0 1em;
    
}

#btnSearch{
    border-radius: 0 .22222em .22222em 0;
    border: 1px solid #36c;

    height: 35px;

    margin: 0;

    background: #36c;

    color: white;
    font-weight: 300;
}



.ui-autocomplete{
    background: white !important;
}
.ui-autocomplete:hover{
    cursor: pointer;
}

.ui-menu-item:hover{
    background: lightblue;
}

.ui-helper-hidden-accessible {
    display:none; 
}