<h3>Merk</h3>
<ul class="list-brands">
    {{#each merken}}
    <li>
        <div class="checkbox-container">
            <input type="checkbox" id="chkBoxRefinement_{{@index}}" value="{{value}}" />
            <label for="chkBoxRefinement_{{@index}}"></label>
        </div> 
        <div class="refinement-label">{{label}}</span>
    </li>
    {{/each}}
</ul>
