@import "./_variables.scss";  
html, body{
    overflow: hidden;
    font-family: $font-family;
    font-size: .875em;
    line-height: 1.5;
    color: $font-color;
}

header, footer{
    display: block;
    min-height: 100px;
    border: 1px solid black;
}

.flex-container{
    display: flex;
}

.flex-container > aside{
    flex: 1 6 20%;
}

.flex-container > article{
    flex: 3 1 80%;
}

@media all and (max-width: 640px) {
    .flex-container {
            flex-direction: column;
        }

        .flex-container > aside, .flex-container > article {
        /* Return them to document order */
            order: 0;
        }
  
       .flex-container > aside, header, footer {
            min-height: 50px;
            max-height: 50px;
        }
    }