@import "../_variables.scss";  
div{
    background: $background;
}
ul{
    list-style: none;
}

a.product-title{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 0;
    color: $font-color;
}

.product-flex-container{
    display: flex;
}

.product-image{
    flex: 1 2 20%;
}

.product-info{
    flex: 1 2 60%;
}

.product-price{
    flex: 1 2 20%;
}