@import "../_variables.scss";  
div{
    background: $background;
}
ul{
    list-style: none;
}

a.product-title{
    font-family: "Open Sans",Arial,Helvetica,sans-serif;
    text-decoration: none;
    font-weight: 600;
    padding-bottom: 0;
    color: $font-color;
}

.product-flex-container{
    display: flex;
}

.product-image{
    flex: 0 0 10%;
}

.product-info{
    flex: 0 1 60%;
}

.product-offer-info{
    flex: 0 0 30%;
}

.product-summary{
    color: #62615f;
    padding-bottom: .5em;
}

.product-price{
    color: red;
}

.product-availability{
    color: #090;
}